<nav class="navbar navbar-default menu">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="assets/brand.png">
      </a>
    </div>
  </div>
</nav>
<!--aqui em cima vai o menu mobile-->

<div class="meu-sidebar">
    <div class="col-md-3 side">
        <nav class="navbar navbar-default inner-menu">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">
                <img alt="Brand" src="assets/brand.png">
              </a>
            </div>
          </div>
        </nav>
        <!-- aqui em baixo vai o menu do side-->

    </div>


    <div class="col-sm-12 col-md-8 col-md-offset-3 content">

      <div class="teste">
        <ng-content></ng-content>
      </div>

    </div>

</div>
